@use 'breakpoints' as b;

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;

  @media (min-width: b.$bp-tablet) {
    max-width: b.$bp-tablet;
    padding: 0 44px;
  }

  @media (min-width: b.$bp-desktop) {
    max-width: b.$bp-desktop;
    padding: 0 64px;
  }
}

