@use 'breakpoints' as *;

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @include tablet-up {
    padding: 0 40px;
  }

  @include desktop-up {
    max-width: 1280px;
    padding: 0 80px;
  }
}