<div class="mobile-menu" data-menu>
  <div class="mobile-menu__panel">
    <div class="container">
      <div class="mobile-menu__content">
        <button class="mobile-menu__close" data-menu-close>
          <svg class="mobile-menu__close-icon" width="23" height="23">
            <use href="/icons/sprite.svg#icon-close"></use>
          </svg>
        </button>

        <nav class="mobile-menu__nav">
          <ul class="mobile-menu__list">
            <li class="mobile-menu__item">
              <a href="#Уроки" class="mobile-menu__link">Уроки</a>
            </li>
            <li class="mobile-menu__item">
              <a href="#Про-мене" class="mobile-menu__link">Про мене</a>
            </li>
            <li class="mobile-menu__item">
              <a href="#Ціни" class="mobile-menu__link">Ціни</a>
            </li>
            <li class="mobile-menu__item">
              <a href="#FAQ" class="mobile-menu__link">FAQ</a>
            </li>
          </ul>
        </nav>
        <a href="#cta" class="header__cta btn btn--primary"> Book Trial </a>
      </div>
    </div>
  </div>
</div>

<script type="module" src="/js/menu.js"></script>
